body{
    display: flex;
    flex-direction: column;
}

.header-container{
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;

.links{
    display: flex;
    justify-content: space-between;
    width: 65vw;
}

.links ul{
    display: flex;
    gap: 20px;
}

.hero {
    align-self: center;
    width: 65vw;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.hero, li, p {
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
}

.hero-content{
    margin-right: 100px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.links p {
    font-size: 24px;
    color: #F9FAF8;
}

.content-container, .footer-container{
    background-color: #F9FAF8;
}

.quote-container{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}


.sign-up, button{
    background-color: #3882F6;
}

.sign-up{

}